.tag {
  min-width: 40px;
  max-width: 120px;
  padding: 4px 12px;
  border: 1px solid transparent;
  border-radius: 200px;
  background-color: var(--section-color);
  font-size: 16px;
  font-weight: 400;
}

.work {
  background-color: var(--accent-color);
}
