.modal > div {
  max-width: 520px;
  padding: 20px;
}

.row {
  display: flex;
  align-items: center;
  gap: 20px;

}

.title{
  margin-bottom: 30px;
}

.cards{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  max-width: 220px;
}

.avatar {
  width: 42px;
  height: 42px;
  border-radius: 200px;
  object-fit: cover;
}
