:root {
  --background-color: #2c2b2b;
  --section-color: #3a3939;
  --primary-color: #fff;
  --text-color: #d4d3d3;
  --accent-color: #8bc35f;
  --accent-color7: rgb(139 195 95 / 70%);

  /* --accent-color7: rgb(255 208 87 / 70%); */
  --error-color: rgb(206 67 67);
  --error-color7: rgb(206 67 67 / 70%);

}
