.tag {
  display: flex;
  width: 100%;
  min-width: 80px;
  max-width: max-content;
  height: 32px;
  align-items: center;
  justify-content: space-between;
  padding: 4px 20px;
  border-radius: 200px;
  background-color: var(--section-color);
  gap: 12px;
}

.btn {
  width: 24px;
  height: 24px;
}

.icon {
  width: inherit;
  height: inherit;
}
