.inner {
  display: grid;
  gap: 60px;
  grid-template-columns: 220px auto;
  padding-block: 20px;
}

.img {
  width: 100%;
  max-width: 220px;
  height: 100%;
  max-height: 220px;
  border: 1px solid var(--section-color);
  border-radius: 200px;
  margin-bottom: 12px;
  object-fit: cover;
}

.user_info {
  width: 100%;
  max-width: 220px;
  text-align: center;
}

.name {
  margin-bottom: 8px;
}

.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.btn{
    width: 100%;
    max-width: 220px;
}