.btn {
  width: 100%;
  padding: 8px 20px;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
}

.primary {
  background-color: var(--accent-color);
  font-size: 20px;
  transition: background-color 0.1s ease;

  &:hover {
    background-color: var(--accent-color7);
  }

  /* &:disabled {
    background-color: var(--accent-color);
  } */

  &:disabled {
    background-color: rgb(87 87 87);
    color:var(--text-color);
    cursor: not-allowed;
  }
}

.outlined {
  padding: 0;
  text-align: start;
  text-transform: inherit;

 
}

.error {
  background-color: var(--error-color);
  font-size: 20px;
  transition: background-color 0.1s ease;

  &:hover {
    background-color: var(--error-color7);
  }

  &:disabled {
    background-color: var(--accent-color);
  }
}
